{% extends 'base.html' %}
{% load static %}


{% block content %}
    <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">

                        <div class="row justify-content-center">

                            <div class="col-xl-10">
                                <!-- Products-->
                                <div class="card">
                                    <div class="card-body p-0">
                                        <div class="p-3">
                                            <h5 class="header-title mb-0" style="display: inline;">Categories</h5>
                                            <a href="{% url 'create_category' %}" class="btn btn-primary position-absolute end-0 ">Create category</a>
                                            
                                        </div>
    
                                        <div id="yearly-sales-collapse" class="collapse show">
    
                                            <div class="table-responsive">
                                                <table class="table table-nowrap table-hover mb-0">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Category</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for category in categories %}
                                                        <tr>
                                                            <td>{{forloop.counter}}</td>
                                                            <td>{{category.name}}</td>
                                                            <td>
                                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#update-modal{{forloop.counter}}"><i class="ri-pencil-fill"></i></button>
                                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#delete-modal{{forloop.counter}}"><i class="ri-delete-bin-6-fill"></i></button>
                                                                <a href="{% url 'product_list' category.code %}" class="btn btn-primary"><i class="ri-file-list-line"></i></a>
                                                            </td>
                                                            <!-- Update modal content -->
                                                            <div id="update-modal{{forloop.counter}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="delete-modalLabel" aria-hidden="true">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h4 class="modal-title" id="update-modalLabel">{{category.name}}</h4>
                                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <form action="{% url 'update_category' category.code %}" method="post">
                                                                                {% csrf_token %}
                                                                                <div class="mb-3">
                                                                                    <label class="form-label">Name</label>
                                                                                    <div class="input-group">
                                                                                        <input type="text" class="form-control" value="{{category.name}}" aria-label="Name" name="name">
                                                                                        <button class="btn btn-dark" type="submit">Update</button>
                                                                                    </div>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div><!-- /.modal-content -->
                                                                </div><!-- /.modal-dialog -->
                                                            </div><!-- /.modal -->
                                                            <!-- Delete modal content -->
                                                            <div id="delete-modal{{forloop.counter}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="delete-modalLabel" aria-hidden="true">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h4 class="modal-title" id="delete-modalLabel">{{category.name}}</h4>
                                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <h3>Are you agree to delete {{category.name}}</h3>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">No</button>
                                                                            <a href="{% url 'category_delete' category.code %}" type="button" class="btn btn-primary">Yes</a>
                                                                        </div>
                                                                    </div><!-- /.modal-content -->
                                                                </div><!-- /.modal-dialog -->
                                                            </div><!-- /.modal -->
                                                        </tr>                                                      
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>        
                                        </div>
                                    </div>                           
                                </div> <!-- end card-->
                            </div> <!-- end col-->
                        
                        </div> <!-- container -->

                    </div> <!-- content -->

                    <!-- Footer Start -->
                    <footer class="footer">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <script>document.write(new Date().getFullYear())</script> © Velonic - Theme by <b>Mufid</b>
                                </div>
                            </div>
                        </div>
                    </footer>
                    <!-- end Footer -->

                </div>

                <!-- ============================================================== -->
                <!-- End Page content -->
                <!-- ============================================================== -->

                

    {% endblock content %}
        