{% extends 'base.html' %}
{% load static %}


{% block content %}
    <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-8">
                                <div class="page-title-box">
                                    <h4 class="page-title">Update product</h4>
                                    <form action="" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="justify-content-center">
                                            <div class="card-body">
                                            <div class="mb-3">
                                                <div class="col-lg-6">
                                                    <label class="form-label">Name</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" value="{{product.name}}" aria-label="Name" name="name">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <p class="mb-1 fw-bold text-muted">Category</p>
                                                    <select class="form-control select2" name="category_code">
                                                        {% for category in categories %}
                                                        {% if category == product.category %}
                                                        <option value="{{category.code}}" selected>{{category.name}}</option>
                                                        {% endif %}
                                                        <option value="{{category.code}}">{{category.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div> <!-- end col -->
                                                <div class="col-lg-6">
                                                    <label class="form-label">Price</label>
                                                    <div class="input-group">
                                                        <input type="number" class="form-control" value="{{product.price}}" aria-label="Name" name="price" min="0">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label class="form-label">Description</label>
                                                    <div class="input-group">
                                                        <textarea name="description" class="form-control">{{product.description}}</textarea>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label class="form-label">Images</label>
                                                    <div class="input-group">
                                                        <input type="file" class="form-control" name="images" multiple>
                                                    </div>
                                                </div>
                                                <div>
                                                    <button class="btn btn-success" type="submit">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </form>
                                    {% for img in images %}
                                      <img src="{{img.image.url}}" width="400px">
                                      <a href="{% url 'delete_product_image' img.code %}" class="btn btn-danger">Delete</a><br>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!-- end page title -->
                        
                    </div> <!-- container -->

                </div> <!-- content -->

                <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 text-center">
                                <script>document.write(new Date().getFullYear())</script> © Velonic - Theme by <b>Mufid</b>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->

{% endblock content %}
    